#bg-img {
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
   position: relative; 

}
.parag {
    text-align: center;
    color: aliceblue; 
    position: relative;
    
}
#text {
    text-align: center;
    font-size: small;
    color: aliceblue; 
    position: relative;
    top: 250px;
}
.mouse-over {
    text-align: center;
    position: relative;
    top: 450px;
    }
    #abt-title {
        text-align: center;
        margin: 0px;
    }

    .about-us {
        text-align: center;
        font-weight: bold;
        
    }
#services {
    background-image: url("/assets/backgrounds/s_image.jpg");
    height: 50vh;
    width: 100vw;
    background-size: cover;

}
.para2 {
    text-align: center;
    color: azure;
    position: relative;
    top: 100px;
}
#pos {
    position: relative;
    right: 80px;
}
.class {
    position: relative;
    top: 50px;
}
#designs {
    position: relative;
    left: -200px;
}
#dev {
    position: relative;
    right: -10px;
}
#pro {
    position: relative;
    right: -200px;
}
#design {
    display: none;
}
#development {
    display: none;
}
#Products {
    display: none;
}
#folio {
     font-family: krona one;
    font-weight: bold;
}
.contact {
    background-image: url("/assets/backgrounds/c_image.jpg");
    background-size: cover;
    height: 80vh;
    width: 100vw;
   position: relative; 
   border-top: 10px;
   margin-top: 30px;
   color: beige;
   align-content: center;

}
*#formInput {

width: 100%;
color: white;

}
#Text {
    opacity: 12%; 
    width: 48%;
    position: relative;
    left: 400px;
    border-style: ridge;
}
#submit {
    width: 48%;
    position: relative;
    left: 400px;
}